<%= simple_form_for @car do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <div class="input-field col s12"><%= f.association :category, as: :check_boxes %></div>
  <%= f.input :image %>
  <br>
  <%= f.button :submit %>
<% end %>
