<h1>Cars</h1>

<ul>
    <% @cars.map do |car| %>
    <div class="list">
        <h3><%= car.name %></h3>
        <br>
        <li><%= image_tag(car.image, width: 400) %></li>
        <br>
        <h4>$<%= car.price %></h4>
        <br>
        <li><%= link_to 'Show', car %></li>
        <li><%= link_to 'Edit Car', edit_car_path(car) %></li>
        <br>
        <br>
    </div>
    <% end %>
</ul>

<br>
<%= link_to 'Order by Test Drive Rating', cars_order_by_rating_path %>
