<h1><%= @car.name %></h1>

<%= render 'show_car' %>

<strong><%= link_to 'Add Test Drive', new_car_test_drive_path(@car) %></strong>
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %> |
